@font-face {
    font-family: "Robotesqa4F";
    font-style: normal;
    font-weight: 400;
    src: local("Robotesqa4F"),
         url("../fonts/Robotesqa4F.woff") format("woff");
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x:hidden;
    background-color: black;
}

.game-tab {
    width: 100%;
    /* Это чтобы нельзя было выделять объекты на странице   */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gaming {
    display: block;
    width: 100%;
    height: 100%;
}

h1, h2, button {
    white-space: nowrap;
}

.element-div, .button, .title {
    font-family: "Robotesqa4F";
    color: white;
}

.element-div {
    display: flex;
    justify-content: center;
    margin: 1%;
}

#rating-table {
    width: 90vw;
    border: 3px solid blue;
    color: white;
}

.button {
    border-radius: 10%;
    background: linear-gradient(blue, rgb(130, 129, 142));
    transition: .2s;
    opacity: 0.7;
}

.button:hover{
    opacity: 1;
}

button:disabled, button:disabled:hover {
    opacity: 0.3;
}

.button:focus {
    background: blue;
}

.button, input {
    margin: 0 5%;
}

input {
    background: linear-gradient(blue, rgb(130, 129, 142));
    color: white;
}

select {
    margin-left: 1%;
    margin-right: 5%;
    background: linear-gradient(blue, rgb(130, 129, 142));
    color: white;
    font-family: "Robotesqa4F";
}

select option {
    background: blue;
}

#game-result {
    white-space: normal;
    text-align: center;
}


@media (min-width: 1920px) {
    .button  {
        font-size: 600%;
    }
    
    .title {
        font-size: 700%;
    }
    
    #rating-table, input {
        font-size: 300%;
    }

    h2, select {
        font-size: 320%;
    }

    #game-result {
        font-size: 450%;
    }
}

@media (min-width: 1000px) and (max-width: 1920px){
    .button  {
        font-size: 350%;
    }
    
    .title {
        font-size: 500%;
    }
    
    #rating-table, input {
        font-size: 250%;
    }

    h2, select {
        font-size: 150%;
    }

    #game-result {
        font-size: 350%;
    }
}

@media (min-width: 768px) and (max-width: 1000px){
    .button  {
        font-size: 300%;
    }
    
    .title {
        font-size: 400%;
    }
    
    #rating-table {
        font-size: 200%;
    }
    
    input {
        font-size: 150%;
    }
    
    h2, select {
        font-size: 100%;
    }

    #game-result {
        font-size: 250%;
    }
}

@media (min-width: 375px) and (max-width: 768px){
    .button  {
        font-size: 150%;
    }
    
    .title {
        font-size: 200%;
    }
    
    #rating-table {
        font-size: 100%;
    }
    
    input {
        font-size: 60%;
    }
    
    h2, select {
        font-size: 40%;
    }

    #game-result {
        font-size: 150%;
    }
}

@media (max-width: 375px){
    .button  {
        font-size: 100%;
    }
    
    .title {
        font-size: 150%;
    }
    
    #rating-table {
        font-size: 120%;
    }
    
    input {
        font-size: 30%;
    }
    
    h2, select {
        font-size: 20%;
    }

    #game-result {
        font-size: 80%;
    }
}